@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: flex;
    }
    
    .headshot {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .name {
        font-size: 3rem;
    }
    
    .about-bubble {
        padding: 15px;
        width: 80%;
        align-self: center;
    }

    .headshot {
        width: 50%;
    }

    .about-row {
        flex-direction: column;
    }

    .project-title-bar {
        flex-direction: column;
    }

    .project-title {
        width: 95%;
    }

    .project-image {
        width: 95%;
    }

    .project-button-container {
        padding-top: 10px;
        align-self: center;
    }

    .contact-form-container {
        width: 70%;
    }

    .contact-form-submit-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}